<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="guest/home_guest :: head_guest"></head>
<body>
<div class="container mt-4">
        <header th:replace="guest/home_guest :: header_guest"></header>
        <nav th:replace="guest/home_guest :: menu-guest"></nav>
        <div class="container">
                <br><h2 style="font-weight:bold;">Список всех горных вершин, на которые совершались восхождения членами клуба</h2><br>
                <table class="table">
                        <thead class="thead-dark">
                        <tr>
                                <!--<th scope="col">id</th>-->
                                <th scope="col">Название</th>
                                <th scope="col">Страна</th>
                                <th scope="col">Высота</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="mountain : ${mountains_list}">
                                <tr>
                                        <!--<th scope="row" th:text="${mountain.id}"></th>
                                        <td th:text="${mountain.name}"></td>-->
                                        <th scope="row" th:text="${mountain.name}"></th>
                                        <td th:text="${mountain.country}"></td>
                                        <td th:text="${mountain.height}"></td>
                                </tr>
                        </th:block>
                        </tbody>
                </table>
        </div>
</div>
</body>
</html>