<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head_admin">
        <meta charset="UTF-8">
        <title>Хроники восхождения альпийского клуба</title>
        <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/4.1/examples/blog/blog.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <header class="blog-header py-3" th:fragment="header_admin">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="col-4 pt-1">
                    </div>
                    <div class="col-4 text-center">
                        <a class="blog-header-logo text-dark" href="/admin/">Хроники восхождений альпинистского клуба</a>
                    </div>
                    <div class="col-1">
                    </div>
                    <div class="col-1">
                        Здравствуйте.<br> Роль: Администратор
                    </div>
                    <div class="col-1 d-flex justify-content-end align-items-center">

                        <form th:action="@{/logout}" method="post">
                            <input class="btn btn-sm btn-outline-secondary" type="submit" value="Выход"/>
                        </form>

                        <!--<a class="btn btn-sm btn-outline-secondary" th:action="">Авторизация</a>-->
                    </div>
                </div>
            </header>

            <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="menu-admin">

                <!--<a class="navbar-brand" href="#">Navbar</a>-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Альпинисты
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/admin/persons">Отобразить список альпинистов</a>
                                <a class="dropdown-item" href="/admin/sign_person">Записать альпиниста на восхождение</a>
                                <a class="dropdown-item" href="/admin/sign">Записаться на восхождение</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/admin/person_info">Информация об альпинисте</a>
                                <a class="dropdown-item" href="/admin/person/new">Добавить альпиниста</a>

                            </div>
                        </li>
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Горы
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/admin/mountains">Отобразить все горы</a>
                                <a class="dropdown-item" href="/admin/mountain_info">Информация об горной вершине</a>
                                <a class="dropdown-item" href="/admin/mountains/asc_by_members">Отобразить горы, на которые совершались восхождения членами клуба</a>
                                <a class="dropdown-item" href="/admin/mountains/mount_per_count">Подсчитать, сколько альпинистов клуба было на каждой горе</a>
                                <a class="dropdown-item" href="/admin/mountains/mount_asc">Для каждой горы показать все восхождения в хронологическом порядке</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/admin/mountains/new">Добавить вершину</a>
                            </div>
                        </li>
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Восхождения (группы)
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/admin/ascensions">Отобразить все восхождения</a>
                                <a class="dropdown-item" href="/admin/ascension_info">Информация о восхождении</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/admin/ascensions/new">Назначить восхождение</a>
                                <a class="dropdown-item" href="/admin/ascensions/complete">Завершить восхождение</a>
                                <a class="dropdown-item" href="/admin/ascensions/cancel">Отменить восхождение</a>
                                <a class="dropdown-item" href="/admin/ascensions/sponsor_add">Добавить спонсора к восхождению</a>

                            </div>
                        </li>
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Спонсоры
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/admin/sponsors">Отобразить всех спонсоров</a>
                                <a class="dropdown-item" href="/admin/sponsor_info">Информация о спонсоре</a>
                                <a class="dropdown-item" href="/admin/sponsors/new">Добавить спонсора</a>
                            </div>
                        </li>
                        <li>
                            <a class="nav-link" href="/admin/about">О системе</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container mt-4">
                <p>Разрабатываемая система предназначена для автоматизации сбора, хранения и оперативного доступа к информации о деятельности альпинистского клуба. Система упрощает ведение учета альпинистов, групп и историй восхождений, позволяет хранить информацию о датах восхождений на горные вершины, данные о каждом альпинисте, являющимся клиентом клуба, информацию о горах, на которых совершаются восхождения членами клуба.</p>
                <p>Функции системы, доступные <b>администратору</b>:</p>
                <ul>
                    <li>Отображение списока альпинистов</li>
                    <li>Отображение альпинистов, совершивших восхождения в промежутке дат</li>
                    <li>Запись альпиниста на восхождение</li>
                    <li>Записаться на восхождение</li>
                    <li>Информация об альпинисте</li>
                    <li>Добавление альпиниста</li>
                    <li>Изменение данных об альпинисте</li>
                    <li>Подсчет количество восхождений альпиниста</li>
                    <li>Отображение все восхождения альпиниста</li>
                    <li>Отображение всех горных вершин</li>
                    <li>Информация о горной вершине</li>
                    <li>Отображение горных вершин, на которые совершались восхождения членами клуба</li>
                    <li>Подсчет количества альпинистов клуба, побывавших на каждой горе</li>
                    <li>Отображение всех восхождений в хронологическом порядке</li>
                    <li>Добавление вершины</li>
                    <li>Изменение данных о вершине</li>
                    <li>Отображение списка восхождений для вершины хронологическом порядке</li>
                    <li>Отображение всех восхождений</li>
                    <li>Отображение восхождений, выполненных в промежутке дат</li>
                    <li>Информация о восхождении</li>
                    <li>Назначение восхождения</li>
                    <li>Завершение восхождения</li>
                    <li>Отмена восхождения</li>
                    <li>Добавление спонсора к восхождению</li>
                    <li>Отображение всех спонсоров</li>
                    <li>Информация о спонсоре</li>
                    <li>Добавление спонсора</li>
                    <li>Изменение информации о спонсоре</li>
                </ul>
            </div>
            <div th:replace="index :: footer"></div>
        </div>
    </body>
</html>