<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="leader/home_leader :: head_leader"></head>
<body>
<div class="container mt-4">
        <header th:replace="leader/home_leader :: header_leader"></header>
        <nav th:replace="leader/home_leader :: menu-leader"></nav>
        <div class="container">
                <br><h2 style="font-weight:bold;">Выбор горной вершины</h2><br>
                <form th:action="@{/leader/mountain/}" method="post">
                        <select class="form-control" name="id">
                                <th:block th:each="mountain : ${mountains_list}">
                                        <option th:text="${mountain.name}" th:value="${mountain.id}"></option>
                                </th:block>
                        </select><br>
                        <button type="submit" class="btn btn-primary">Отобразить информацию</button>
                </form>
        </div>
</div>
</body>
</html>