<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/home_admin :: head_admin"></head>
<body>
<div class="container mt-4">
        <header th:replace="admin/home_admin :: header_admin"></header>
        <nav th:replace="admin/home_admin :: menu-admin"></nav>
        <div class="container">
                <br><h2 style="font-weight:bold;">Список всех спонсоров</h2><br>
                <table class="table">
                        <thead class="thead-dark">
                        <tr>
                                <th scope="col">id</th>
                                <th scope="col">Название</th>
                        </tr>
                        </thead>
                        <tbody>
                                <th:block th:each="sponsor : ${sponsors_list}">
                                        <tr>
                                                <th scope="row" th:text="${sponsor.id}"></th>
                                                <td th:text="${sponsor.name}"></td>
                                        </tr>
                                </th:block>
                        </tbody>
                </table>
        </div>
</div>
</body>
</html>