<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="climber/home_climber :: head_climber"></head>
<body>
<div class="container mt-4">
        <header th:replace="climber/home_climber :: header_climber"></header>
        <nav th:replace="climber/home_climber :: menu-climber"></nav>
        <div class="container">
                <br><h2 style="font-weight:bold;">Список всех восхождений на гору</h2>
                <br><h3 style="font-weight:bold;" th:text="${mountain_name}"></h3><br>
                <table class="table">
                        <thead class="thead-dark">
                        <tr>
                                <!--<th scope="col">id</th>-->
                                <th scope="col">Название восхождения</th>
                                <th scope="col">Дата</th>
                                <th scope="col">Тип восхождения</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="ascension : ${ascensions_list}">
                                <tr>
                                        <!--<th scope="row" th:text="${mountain.id}"></th>
                                        <td th:text="${mountain.name}"></td>-->
                                        <th scope="row" th:text="${ascension.getName()}"></th>
                                        <td th:text="${ascension.getDate()}"></td>
                                        <td th:text="${ascension.getType_of_ascent()}"></td>
                                </tr>
                        </th:block>
                        </tbody>
                </table>
        </div>
</div>
</body>
</html>